@charset "UTF-8";
/* Define as características padrões da caixa */
.caixa { 
    width: 200px; 
    height: 200px; 
    background-color: lightgray; 
    border: solid black 2px; 
    border-radius: 0px; 
    text-align: center; 
  } 
  